/*Pop-up*/ 
.b-pop-up{min-width:275px;width:275px;position:absolute;background:#fff;-webkit-box-shadow:0 0 7px rgba(0,0,0,0.2);-moz-box-shadow:0 0 7px rgba(0,0,0,0.2);box-shadow:0 0 7px rgba(0,0,0,0.2);z-index:9999}
.ie8 .b-pop-up{box-shadow:0 0 7px #ccc;behavior:url(/content/js/PIE.htc)}
    .b-pop-up-i{padding:15px 20px 20px;background:#fff;position:relative;overflow:hidden;zoom:1;z-index:9999}
        .b-pop-up-i p{line-height:15px;clear:both;font-size:11px;font-weight:400;white-space: normal;}
        .b-pop-up-i .c-red{color:#ff3300}
        .b-pop-up-i .btn-1-orange{float:left}
        .b-pop-up-i .cancel-link{margin:7px -15% 0 7px;display:-moz-inline-stack;display:inline-block;float:left;border-bottom:1px dotted #ccc;font-size:11px;color:#ccc}
        .b-pop-up-i .cancel-link:hover{border-color:#999;text-decoration:none;color:#999}
            .b-pop-up-i .c-red strong{color:#ff3300}

        .b-pop-up-i.pop-up-1{}
            .b-pop-up-i.pop-up-1 .c-red{padding:0 0 7px}
            .b-pop-up-i.pop-up-1 p{padding:0 0 10px}

        .b-pop-up-i.pop-up-2{}
            .b-pop-up-i.pop-up-2 p{padding:0 0 5px}
            .b-pop-up-i.pop-up-2 .btn-1-orange{margin-top:5px}
            .b-pop-up-i.pop-up-2 .cancel-link{margin-top:13px}

    .b-pop-up__arrow-1,
    .b-pop-up__arrow-2,
    .b-pop-up__arrow-4{width:13px;height:9px;margin:0 0 0 -9px;background:url(../../images/popup1/b_pop_up_arrow_bgs.png) no-repeat;position:absolute;bottom:-9px}

    .b-pop-up__arrow-1,
    .b-pop-up__arrow-2,
    .b-pop-up__arrow-3,
    .b-pop-up__arrow-4{background:url(../../images/popup1/b_pop_up_arrow_bgs.png) no-repeat;max-height:100%}

    .b-pop-up__arrow-1{background-position:0 0;left:50%}
    .b-pop-up__arrow-2{background-position:0 0;right:10%}
    .b-pop-up__arrow-3{width:9px;height:13px;margin:-6px 0 0;background-position:0 -18px;position:absolute;top:50%;right:-9px}
    .b-pop-up__arrow-4{background-position:0 0;left:10%}


.b-up-section-1,
.b-up-section-2,
.b-up-section-3,
.b-up-section-4{position:relative;}
    .b-up-section-3 .c-gray{padding:0 10px;font-size:12px;color:#999}
    .b-up-section-1 .b-pop-up{right:63px;top:-45px}
    .b-up-section-2 .b-pop-up{left:-110px;top:-159px}
    .b-up-section-3 .b-pop-up{left:-102px;top:-159px}
    .b-up-section-4 .b-pop-up{left:-145px;top:-159px}
    .b-up-section-5 .b-pop-up{right:85px;top:-27px}
.b-up-section-5{width:62px;padding:18px 14px 14px 6px;position:relative}
    .b-up-section-5 .btn-up-1-orange{margin:0 0 0 7px}
    .b-up-section-5 small, .b-up-section-2 small{padding:2px 0 0;display:block;text-align:center;font-size: 10px;}
      .b-up-section-2 small {display: inline;}
    .b-up-section-5 .time, .b-up-section-2 .time{padding:0 0;color:#ff6600}
    .b-up-section-5 .check-box-form-1{width:14px;height:14px;position:absolute;top:25px;right:0}
        .b-up-section-5 .check-box-form-1 .check-box-1{padding:5px;display:-moz-inline-stack;display:inline-block;position:relative}
            .b-up-section-5 .check-box-form-1 .check-box-1{cursor:pointer;cursor:hand}


/*Btn-Up-1-orange*/
.btn-up-1-orange{width:47px;height:34px;background:url(../../images/popup1/btn_up_orange_1_bg.png) no-repeat;display:inline-block;font:700 14px/30px 'Open Sans', Arial, Helvetica, Verdana, sans-serif;text-align:center;text-decoration:none;color:#fff}
.btn-up-1-orange:hover, .btn-up-1-orange:visited{text-decoration:none;color:#fff!important; background-position:-47px 0;}
.btn-up-1-orange:active {background-position:-94px 0;}

/*Btn-Up-2-orange*/
.btn-up-2-orange{width:130px;height:28px;background:url(../../images/popup1/btn_up_orange_2_bg.png) no-repeat;display:inline-block;font:700 14px/26px 'Open Sans', Arial, Helvetica, Verdana, sans-serif;text-align:center;text-decoration:none;color:#fff}
.btn-up-2-orange:hover{text-decoration:none;color:#fff; background-position:-131px 0;}
.btn-up-2-orange:active {background-position:-262px 0;}


/*Button-1-orange*/
.btn-1-orange,
.btn-1-orange b{display:-moz-inline-stack;display:inline-block;vertical-align:top}

.btn-1-orange{padding:2px;background:#feaf1c url(../../images/popup1/btn_1_orange.png) repeat-x 0 -6px;-webkit-border-radius:4px;-moz-border-radius:4px;-khtml-border-radius:4px;border-radius:4px;position:relative}
.btn-1-orange::-moz-focus-inner{border:0;padding:0;margin:0}
.ie8 .btn-1-orange{behavior:url(/content/js/PIE.htc)}
.btn-1-orange:hover{background-position:0 -46px}
.btn-1-orange:active,
.btn-1-orange:focus{background-position:0 -86px}

    .btn-1-orange b,
    .btn-1-orange:hover b{height:20px;padding:4px 10px 0;background:#e6eaeb url(../../images/popup1/btn_1_orange.png) repeat-x 0 -168px;-moz-border-radius:3px;-webkit-border-radius:3px;-khtml-border-radius:3px;border-radius:3px;position:relative;font:700 13px/14px 'Open Sans', Arial, Helvetica, Verdana, sans-serif;color:#b84b06;-webkit-font-smoothing:antialiased;-moz-font-smoothing:antialiased;-o-font-smoothing:antialiased}
    .btn-1-orange:active b,
    .btn-1-orange:focus b{background-position:0 -208px}
    .ie8 .btn-1-orange b{behavior:url(/content/js/PIE.htc)}

.btn-1-orange.spinner,
.btn-1-orange.spinner:hover{background-position:0 -126px;cursor:default}
    .btn-1-orange.spinner b{position:relative}
        .btn-1-orange.spinner i{width:100%;height:24px;display:block;background:url(../../images/popup1/spinner_orange.gif) no-repeat 50% 50%;-moz-border-radius:3px;-webkit-border-radius:3px;-khtml-border-radius:3px;border-radius:3px;position:absolute;top:0;left:0;font-size:1px}
        .ie8 .btn-1-orange.spinner i{behavior:url(/content/js/PIE.htc)}

/*Button-1-orange-ie8*/
.ie8 .btn-1-orange{padding:0 0 0 5px;background:url(../../images/popup1/btn_1_orange_ie.png) no-repeat 0 0}
.ie8 .btn-1-orange:hover{background-position:0 -28px}
.ie8 .btn-1-orange:focus{background-position:0 -56px}
.ie8 .btn-1-orange:hover b{background-position:100% -28px}
.ie8 .btn-1-orange b{height:22px;padding:6px 10px 0 5px;background:url(../../images/popup1/btn_1_orange_ie.png) no-repeat 100% 0;position:relative;font:700 13px/14px 'Open Sans', Arial, Helvetica, Verdana, sans-serif;text-align:center;color:#b84b06;-webkit-font-smoothing:antialiased;-moz-font-smoothing:antialiased;-o-font-smoothing:antialiased}
.ie8 .btn-1-orange:focus b{background-position:100% -56px}

.ie8 .btn-1-orange.spinner,
.ie8 .btn-1-orange.spinner:hover{background-position:0 -84px;cursor:default}
.ie8 .btn-1-orange.spinner b,
.ie8 .btn-1-orange.spinner:hover b{background-position:100% -84px;cursor:default}
.ie8 .btn-1-orange.spinner b{position:relative}
.ie8 .btn-1-orange.spinner i{width:98%;height:24px;display:block;background:url(../../images/popup1/spinner_orange.gif) no-repeat 50% 50%;-moz-border-radius:3px;-webkit-border-radius:3px;-khtml-border-radius:3px;border-radius:3px;position:absolute;top:2px;font-size:1px}
.ie8 .btn-1-orange.spinner i{behavior:url(/static/js/PIE.htc)}
